@media (width <= 599px) {
  :where(.button-flat, .button-submit, .playerButton) {
    min-width: 2.5rem;
    min-height: 2.5rem;
  }
}

@media (pointer: coarse) {
  :where(
    .emby-tab-button,
    .navMenuOption,
    .cardOverlayButton,
    .button-flat,
    .button-submit,
    .emby-input,
    .emby-select,
    .emby-checkbox,
    .actionSheetMenuItem,
    .playerButton
  ) {
    min-width: 2.5rem;
    min-height: 2.5rem;
  }
}
